body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: aliceblue;
}
#logo {
    position: absolute;
    width: 30pt;
    height: 30pt;
    left: 160pt;
}
#navBar {
    display: inline-flex;
    height: 60pt;
    background-color: aliceblue;
    align-items: center;
}
#orangeCard {
    height: 200pt;
    background: rgba(242, 115, 11, 0.9);
}
#blueCard{
    height: 30pt;
    background: rgb(38, 113, 206);
}
#logoName {
    position: absolute;
    font-size: 20pt;
    font-family: 'Baloo Thambi 2', cursive;
    letter-spacing: 2.5px;
    font-weight: 900;
    color: #202020;
    left: 190pt;
}
#bitbucketLogo {
    position: absolute;
    font-size: 15pt;
    right: 160pt;
    color: #202020;
}
#holder {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    width: 800pt;
    padding-bottom: 100pt;
}
#bluoDescHolder {
    height: 200pt;
}
#bluoDesc {
    position: absolute;
    font-size: 25pt;
    font-family: 'Inter', sans-serif;
    color: aliceblue;
    margin-left: 160pt;
    margin-top: 150pt;
}
#bluoGif {
    border-radius: 3pt;
    margin-top: 40pt;
    box-shadow: 0 10px 6px -6px rgba(0,0,0,0.7);
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#bluoIllustration {
    display: block;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 3pt;
    font-size: 10pt;
    font-family: 'Inter', sans-serif;
    color: rgba(0,0,0,0.4);
}
#bluoBody {
    font-family: 'Inter', sans-serif;
    margin-top: 50pt;
    font-weight: 700;
}
#bluoSteps {
    font-family: 'Inter', sans-serif;
}
#bluoHeading {
    font-size: 25pt;
}
#copyRight {
    position: absolute;
    font-size: 7pt;
    font-family: 'Inter', sans-serif;
    left: 50%;
    bottom: 10pt;
    transform: translateX(-50%);
}
